//*****************************************
//done-button

.button {
  border-radius: 3px;

}

.button:hover {
  transition: 1s background-color;

}

.done-button {
  width: 58px;
  height: 32px;
  margin: 0 16px 0 0;
  border: solid 1px #19bf33;
  background-color: #19bf33;
  border-radius: 3px;

  color: #ffffff;

  transition: all 0.4s ease-in 0s;
}

.done-button:hover {
  background-color: #6fd97c;
  color: black;
}

//*****************************************
//material-icons

.material-icons {
  color: #ffffff;
  font-size: 16px;
}

.material-icons-margin-0 {
  margin: 0 !important;
}

.button-text {
  color: #ffffff;
  font-size: 14px;
}

//*****************************************
//edit-button

.edit-button {
  width: 69px;
  height: 32px;
  margin: 0 16px 0 0;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;
  border-radius: 3px;
  color: white;
  transition: all 0.4s ease-in 0s;

  &:hover {
    background: #6c6cfa;
    color: black;
  }
}

//*****************************************
//remove-button

.remove-button {
  width: 97px;
  height: 32px;
  border: solid 1px #e3394d;
  background-color: #e3394d;
  border-radius: 3px;
  color: white;
  transition: all 0.4s ease-in 0s;

  &:hover {
    background: #fc6060;
    color: black;
  }
}

.cancel-button {
  width: 65px;
  height: 40px;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  font-size: 14px;

  transition: all .8s ease-in 0.1s;
  margin-right: 140px;
}

.cancel-button .button-text {
  margin: 0 auto;
  color: #333333;
  width: 100px;
  height: 40px;
}

.cancel-button:hover {
  background-color: #979797;
}

.delete-button {
  width: 65px;
  height: 40px;
  margin: -40px 0 0 293px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;

  transition: all .8s ease-in 0.1s;
}

.delete-button .button-text {

  margin: 0 auto;

  color: #ffffff;
}

.delete-button:hover {
  background-color: #e3394d;
}

.save-button {
  width: 53px;
  height: 40px;
  margin: -40px 0 0 306px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;

  transition: all 1s ease-in 0.1s;
}

.save-button .button-text {
  margin: 0 auto;
  padding: 11px 9px 10px 12px;
  color: #ffffff;
}

.save-button:hover {
  background-color: #3737b1;
}

.add-new-wrapper {
  margin: 0 0 0 35px;
}

.add-new-button {
  width: 83px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;
  color: white;
  font-size: 14px;

  transition: all .4s ease-in 0.1s;
}

.add-new-button:hover {
  background-color: white;
  color: black;

  border: 20px solid black;
}


.add-new-button .button-text {
  width: 83px;
  height: 40px;
  color: white;
}


//************************

.Pending {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #d1ecfa;
  background-color: #f4fafd;
}

.Pending .button-text:hover {
  color: #6125a6 !important;
  border-bottom: 1px solid #6125a6;
  border-right: 1px solid #6125a6;
}

.Pending .button-text {
  font-size: 14px;
  color: #333333;
}

//************************

.Completed {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #b6f2b2;
  background-color: #f3fcf3;
}

.Completed .button-text:hover {
  color: #6125a6 !important;
  border-bottom: 1px solid #6125a6;
  border-right: 1px solid #6125a6;
}

.Completed .button-text {
  font-size: 14px;
  color: #333333;
}

//************************

.Expired {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #fbe4e7;
  background-color: #fff9fa;
}

.Expired .button-text:hover {
  color: #6125a6 !important;
  border-bottom: 1px solid #6125a6;
  border-right: 1px solid #6125a6;
}

.Expired .button-text {
  font-size: 14px;
  color: #333333;
}

//************************

.All {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #d5fd8d;
  background-color: #f5fde3;

  transition: all 0.1s ease-in 0s;
}

.All .button-text:hover {
  color: #6125a6 !important;
  border-bottom: 1px solid #6125a6;
  border-right: 1px solid #6125a6;
}

.All .button-text {
  font-size: 14px;
  color: #333333;
}


.Inactive {
  width: 71px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #efefef;
  background-color: #f8f8f8;

  transition: all 0.1s ease-in 0s;
}

.Inactive .button-text:hover {
  color: #6125a6 !important;
  border-bottom: 1px solid #6125a6;
  border-right: 1px solid #6125a6;
}

.Inactive .button-text {
  font-size: 14px;
  color: #333333;
}

//***************************


.button-view {
  width: 58px;
  height: 32px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #f4fafd;

  margin: 8px 8px 8px 44px;

  transition: all .4s ease-in 0.1s;
}

.button-view:hover {
  background-color: #00a5ef;
}

.button-view .button-text {
  width: 56px;
  height: 30px;
  font-size: 14px;
  color: #333333;
}


.button-404 {
  width: 149px;
  height: 40px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;

  transition: all 0.4s ease 0s;

}

.button-404:hover {
  background-color: #7e639d;
  border: 2px solid #7e639d;
  border-radius: 8px;
}

.button-404 .button-text {
  margin: 0;
  padding: 10px 12px 11px;
}


.login-button {
  width: 58px;
  height: 32px;

  margin: 16px 16px 16px 315px;

  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;

  transition: background-color 1s;
}

.login-button:hover {
  background-color: #2a2afd;
}

.login-button .button-text {
  width: 26px;
  height: 30px;

  font-size: 14px;
  margin: 0;
  line-height: 30px;
  padding: 7px 10px 6px 12px;
}

.login-button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}


.big-button-add {
  width: 207px;
  height: 61px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #ffffff;

  transition: all .4s ease 0.1s;
}

.big-button-add:hover {
  border: 31px solid #00a5ef;
}

.big-button-add .button-text {
  margin-left: 9px;
  color: #00a5ef;
  width: 100px;
  height: 60px;
}

.button-text:hover {
  color: white;
  transition: all .4s ease 0.1s;
}

.big-button-add span {
  color: #00a5ef;
}

.return-button {
  width: 90px;
  height: 30px;
  color: #ffffff;
  font-size: 16px;
  background-color: #7e639d;

  margin: -30px 0 0 0;
  border: none;

  transition: all .4s ease 0.1s;
}

.return-button, .button-text {
  width: 95px;
  height: 30px;
  color: white;
}

.return-button:hover {
  background-color: #623590;
}

.add-category-button {
  width: 132px;
  height: 40px;
  margin-right: 3px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;

  transition: all .4s ease-in 0s;
}

.add-category-button:hover {
  background-color: white;
}

.add-category-button .button-text {
  width: 100px;
  height: 40px;
}

.add-category-button .button-text:hover {
  color: #00a5ef;
}