
.done-status {
  width: 78px;
  height: 32px;
  margin: 0 16px 0 0;
  padding: 7px 11px 6px;
  border-radius: 3px;
  border: solid 1px #19bf33;
  background-color: #19bf33;


  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

}

.done-status span:first-child {
  width: 16px;
  height: 16px;
  margin: 2px 4px 1px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}