@import '../../assets/styles/variables';

.created-tasks-container {
  width: 325px;
  height: 60px;
  border-radius: 3px;
  border: $standard_border $border_color_gray;
}

.created-tasks-container p {
  font-size: 16px;
  font-weight: bold;
  color: #623590;
}

.created-tasks-container span {
  font-size: 14px;
  color: #333333;
}

.tasks-number {
  margin: 4px;
}

@media screen and (max-width: 659px) {
  .block-row {
    width: 100%;
  }
  .created-tasks-container {
    width: 240px;
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .block-row {
    width: 100%;
  }
  .created-tasks-container {
    width: 150px;
    margin: 0;
  }
}

@media screen and (max-width: 490px) {
  .block-row {
    width: 100%;
  }
  .created-tasks-container {
    width: 150px;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .created-tasks-container {
    width: 160px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 320px) {
  .created-tasks-container {
    width: 140px;
    font-size: 5px;
  }
}