.input-todos {
  width: 14px;
}

.big-input {
  height: 38px;
  margin-left: 2px;
  border: 1px solid gray;
}

.status-block {
  margin-right: 200px;
}

.status-text-block {
  font-size: 14px;
  width: 20px;
  height: 20px;

}

input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}

input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% #fbe4e7;
  background-size: 25px;
}

.btn-wrapper {
  min-height: 50px;
}