main {
  max-width: 30rem;
  margin: auto;
  padding: 2rem 1rem;
}

main > h1 {
  text-align: center;
}

.Add-article {
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Add-article input {
  display: block;
  margin: 0.4rem auto;
  width: 20rem;
  padding: 0.5rem;
  border: 0.5px solid #00b8e6;
  border-radius: 10px;
  outline: none;
}

.Add-article button {
  height: 30px;
  width: 80px;
  border: 1px solid #00b8e6;
  background: #00b8e6;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.Add-article button:hover {
  background: #0093b8;
}

.Add-article button:disabled {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  cursor: not-allowed;
}

.Article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Article:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.Article h1 {
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.7rem;
}


.Article button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #d34b4b;
  background: #d34b4b;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.Article button:hover {
  background: #e06a6a;
}