.page-wrapper {
  padding-top: 400px;
}

.login-wrapper {
  width: 389px;
  height: 218px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
}

.auth-title {
  width: 27px;
  height: 13px;
  font-size: 9px;
  font-weight: bold;
  color: #333333;

  margin: 16px 346px 8px 16px;
}

.auth-input {
  width: 356px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
}


.auth-pass {
  width: 46px;
  height: 13px;
  font-size: 9px;
  font-weight: bold;
  color: #333333;
  margin: 16px 327px 0 16px;
}

.auth-pass-input {
  width: 356px;
  height: 40px;
  margin: 8px 16px 0 16px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
}

.auth-return-button {
  margin-top: -45px;
  margin-left: 16px;
}