@import '../assets/styles/variables';

.main-wrapper {
  font-family: $open_sans;
  white-space: nowrap;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.spinner {
  margin-top: 400px;
}