.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  width: 1440px;
  height: 700px;
  margin: 0 auto;

  border: 4px solid red;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 1440px;
  height: 74px;
  //margin: 0 0 24px;
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.15);

  background-color: yellow;
  border: 4px solid blue;

  .person-info span {
    width: 100px;
    height: 22px;
    margin: 0 4px 0 0;
    //font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;

    background-color: wheat;
  }

  .ToDo {
    width: 50px;
    height: 27px;
    margin: 10px 406px 13px 0;
    //font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #623590;

    align-content: flex-end;
  }

  div img {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    border: 2px solid red;
  }
}
