@import '../../../src/assets/styles/variables';

.main-wrapper {
  width: 1441px;
  height: 700px;
  margin: 0 auto;
  font-family: $open_sans;
  border: $standard_border $border_color_gray;
  white-space: nowrap;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.user-img {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  padding: 3px;
  border-radius: 33px;
  border: $standard-border $border_color_gray;
  background-color: $white;
}

.block__row {
  border-right: $standard_border $border_color_gray;
  width: 1440px;
  height: 74px;
  margin: 0 0 24px;
  padding: 12px 400px;
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.15);
  background-color: $white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block__element_1 {
  width: 50px;
  height: 27px;
  margin: 0 380px 0 0;
  font-size: $font_size_20;
  font-weight: $open_sans_bold;
  color: $purple;
}

.block__element_2 {
  width: 100px;
  height: 22px;
  margin: 0 -10px 0 0 ;
  font-size: $font_size_16;
  font-weight: $open_sans_bold;
  color: $dark_gray;
}

.block__element_3 {
  width: 20px;
  height: 20px;
  margin: 0 10px 3px 4px;
  font-size: $font_size_20;
  color: $dark_gray;
}

.block__element_2, .block__element_3 {
  display: flex;
  flex: 1 0 auto;
}

.main-content {
  flex: 1 1 auto;
}

.tasks-info {
  display: flex;
  justify-content: center;
}

.tasks-container {
  width: 325px;
  height: 60px;
  padding: 17px 102px 16px 103px;
  margin: 0 0 25px 0;
  border-radius: 3px;
  border: $standard_border $border_color_gray;
  display: flex;
}

.tasks-container:last-child {
  margin-right: 0;
}

.tasks-container p {
  width: 23px;
  height: 27px;
  margin: 0;
  font-size: $font_size_20;
  font-weight: $open_sans_bold;
  color: $purple;
}

.tasks-container span {
  width: 89px;
  height: 19px;
  margin: 4px 0 4px 8px;
  font-size: $font_size_14;
  color: $dark_gray;
}

.tasks-category {
  display: flex;
  justify-content: center;
}

.mini-tasks {
  margin: 0 15px 0 0;
  width: 207px;
  height: 61px;
  padding: 14px 61px 14px 65px;
  border-radius: 3px;
  border: $standard-border $mini_tasks_color_border;
  position: relative;
}

.mini-tasks:last-child {
  margin: 0;
}

.mini-tasks span {
  position: absolute;
  top: 14px;
  right: 126px;
  width: 16px;
  height: 16px;
  font-size: $font_size_16;
  color: $dark_gray;
}

.mini-tasks h6 {
  position: absolute;
  top: 14px;
  right: 61px;
  width: 56px;
  height: 19px;
  font-size: $font_size_14;
  color: $dark_gray;
}

.mini-tasks p {
  position: absolute;
  top: 33px;
  right: 78px;
  width: 39px;
  height: 14px;
  font-size: $font_size_10;
  color: $main_tasks_color;
}

.category-btn {
  position: relative;
  width: 207px;
  height: 61px;
  margin: 15px 14px 330px 395px;
  border-radius: 3px;
  border: $standard-border $blue;
}

.category-btn span, p {
  font-size: $font_size_14;
  color: $blue;
}

.category-btn span {
  position: absolute;
  top: 23px;
  left: 49px;
}

.category-btn p {
  position: absolute;
  top: 21px;
  left: 72px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 1439px;
  height: 50px;
  margin: 330px 0 0;
  padding: 16px 600px 15px;
  background-color: $footer_bg_color_gray;
  border-bottom: $standard-border $light_gray;
  border-right: $standard-border $light_gray;
}

.footer p {
  width: 240px;
  height: 19px;
  font-size: $font_size_14;
  color: $dark_gray;
}

.footer span {
  font-weight: $open_sans_semi_bold;
  color: $blue;
}