
.not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.not-found-wrapper h1 {
  width: 336px;
  height: 28px;
  margin: 0 4px 16px 5px;
  font-size: 21px;
  font-weight: bold;
  color: #333333;
}

.not-found-wrapper h6 {
  width: 345px;
  height: 19px;
  font-size: 14px;
  color: #333333;

  margin-bottom: 16px;
}
