
.date p {
  margin: 15px 0 14px 0;

  font-size: 14px;
  color: #565656;
}


.todos-name {
  line-height: 1;

  border-radius: 3px;
  border: solid 1px #d8d8d8;

  width: 649px;
  height: 48px;
  padding: 0;
}