
.tasks-wrapper {
  width: 650px;
  height: 517px;
}

.tasks-title {
  width: 170px;
  height: 24px;
  margin: 0 0 4px 0;
  font-size: 18px;
  font-weight: bold;

  color: #333333;
}

.delete-block-bottom {
  border-top: solid 1px #d8d8d8;
}

button {
  padding: 0 !important;
}

.delete-title {
  width: 223px;
  height: 22px;
  margin: 16px 0 0 16px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.delete-content {
  width: 357px;
  height: 44px;
  margin: 16px;
  font-size: 16px;
  color: #333333;
}

.tasks-created {
  width: 218px;
  height: 19px;
  margin: 4px 0;
  font-size: 14px;
  color: #565656;
}

.tasks-expired {
  width: 215px;
  height: 19px;
  margin: 4px 3px 0 0;
  font-size: 14px;
  color: #565656;
}

.status-wrapper {
  display: flex;
  margin: 16px 0 24px 0;
}


.status-text p {
  width: 650px;
  height: 114px;
  margin: 24px 0 0;
  font-size: 14px;
  font-weight: 300;
  color: #333333;


  white-space: pre-wrap;
}

//EDIT
//*******************************************************************

.edit-wrapper {
  width: 391px;
  height: 426px;
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
  border-top: none;
}

.edit-header {
  width: 390px;
  height: 38px;
  padding: 8px 0 0 0;

  justify-content: center;
}

.edit-header p {
  width: 72px;
  height: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-left: 160px;
  margin-bottom: 20px;


}

.edit-header span {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #333333;
  margin: 3px 14px 11px 125px;
  padding-right: -220px;
  cursor: pointer;
}

.edit-main-content {
  width: 390px;
  height: 284px;
  border-top: solid 1px #d8d8d8;
  padding-left: 13px;
  padding-top: 16px;
  margin-bottom: 45px;
}

.edit-footer {
  border-top: solid 1px #d8d8d8;
  padding-left: 13px;
  padding-top: 10px;
}

.button-pending {
  width: 76px;
  height: 32px;
  margin: -64px 0 49px 572px;
  padding: 8px 11px 7px;
  border-radius: 4px;
  border: solid 1px #d1ecfa;
  background-color: #f4fafd;
}

.button-pending .button-text {
  width: 54px;
  height: 17px;
  font-family: Rubik, serif;
  font-size: 14px;
  color: #333333;
}

.isModal-task-details {
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 2s;

}

.isModal-task-details-second {
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 2s;
}

.task-task-details-second {
  width: 389px;
  height: 170px;
  padding: 16px 0 0;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}

.details-title {
  width: 223px;
  height: 22px;
  padding: 0 150px 16px 16px;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
}

.details-subtitle {
  padding: 16px 0 28px 16px;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;

  border-bottom: 1px solid #d8d8d8;
}

.button-block {
  padding-top: 6px;
  padding-left: 16px;
}

.task-title {
  width: 72px;
  height: 22px;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  color: #333;
}

.name-title {
  width: 35px;
  height: 13px;
  margin: 0 0 13px 0;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.expired-title {
  width: 35px;
  height: 13px;
  margin: 12px 0 13px 0;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.description-title {
  width: 35px;
  height: 13px;
  margin: 12px 0 13px 0;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.description-textarea {
  width: 359px;
  height: 100px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}

.status-wrapper .done{
  margin-left: 20px;
}

.details-return {
  margin-top: 50px;
}