@import '../../assets/styles/variables';


.tasks-bar {

  width: 649px;
  height: 48px;
  padding: 15px 189px 14px 62px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;

  margin: 8px 1px 8px 395px;

  position: relative;
}

.tasks-bar p {
  width: 42px;
  height: 19px;
  font-size: $font_size_14;
  font-weight: $open_sans_bold;
  color: #333333;

  position: absolute;
}

.tasks-bar p:first-child {
  left: 62px;
}

.tasks-bar p:nth-child(2) {
  left: 278px;
}

.tasks-bar p:last-child {
  left: 389px;
}