@import '../../assets/styles/variables';

.main-wrapper {
  width: 1441px;
  height: 1200px;
  font-family: $open_sans;
  border: $standard_border $border_color_gray;
  white-space: nowrap;
}

.tasks-info {
  display: flex;
  justify-content: center;
}

.tasks-container {
  width: 325px;
  height: 60px;
  padding: 17px 102px 16px 103px;
  margin: 0 0 25px 0;
  border-radius: 3px;
  border: $standard_border $border_color_gray;
  display: flex;
}

.tasks-container:last-child {
  margin-right: 0;
}

.tasks-container p {
  width: 23px;
  height: 27px;
  margin: 0;
  font-size: $font_size_20;
  font-weight: $open_sans_bold;
  color: $purple;
}

.tasks-container span {
  width: 89px;
  height: 19px;
  margin: 4px 0 4px 8px;
  font-size: $font_size_14;
  color: $dark_gray;
}


.category-btn {
  position: relative;
  width: 207px;
  height: 61px;
  margin: 15px 14px 47px 395px;
  border-radius: 3px;
  border: $standard-border $blue;
}

.category-btn span, p {
  font-size: $font_size_14;
  color: $blue;
}

.category-btn span {
  position: absolute;
  top: 23px;
  left: 49px;
}

.category-btn p {
  position: absolute;
  top: 21px;
  left: 72px;
}

