* {
  box-sizing: border-box;
}

input, textarea, select, button {
  &:focus {
    outline: none;
  }
}

body {
  font-family: $open_sans;
  font-size: $font_size_16;
  font-weight: $open_sans_bold;
}
