
.empty-task-wrapper p{
  width: 187px;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;

  margin: 16px 0 0 395px;
}