
.input-title {
  width: 35px;
  height: 13px;
  margin: 6px 0 13px 66px;
  font-size: 9px;
  font-weight: bold;
  color: #333333;

}

.default-input {
  width: 359px;
  height: 40px;
  margin: 0 0 0 14px;
  padding: 11px 271px 10px 12px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
}
.default-title {
  width: 53px;
  height: 13px;
  margin: 0 307px 8px 13px;
  font-size: 9px;
  font-weight: bold;
  color: #333333;
}

