
.edit-status {
  width: 69px;
  height: 32px;
  margin: 0 16px 0 0;
  padding: 7px 12px 6px;
  border-radius: 3px;
  border: solid 1px #00a5ef;
  background-color: #00a5ef;


  font-size: 14px;
  color: #ffffff;
}

.edit-status span:first-child {
  width: 16px;
  height: 16px;
  margin: 2px 4px 1px 0;
  font-size: 16px;
  color: #ffffff;
}